# Bytecode and cache
__pycache__/
*.py[cod]
*.pyc
.mypy_cache/

# Virtual environments
.venv/

# Build and distribution artifacts
build/
dist/
*.egg-info/
*r.spec

# Logs and runtime files
*.log
*.json
settings.json

# Project-specific files
watlow_programs/*
